
    table{
        border: 1px solid;
        background-color:darkblue;
      }
        table td {
        border: 1px solid;
    }
    
  }
  }  .cat {
    background-color:rgb(5, 118, 65);
  }

  .julia {
    background-color:aquamarine;
  }
  
  .table{
    border: 1px solid;
    background-color:black;
  }
    table td {
    border: 1px solid;
}